* {
    --mainColor: rgb(1, 1, 1);
    --scandaryColor: #3d3d3d;
    --textColor: #398628;
    --basicWidth: 300px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

hr {
    width: var(--basicWidth);
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sometype Mono', monospace;
}

.parent {
    margin: 10px calc(50% - var(--basicWidth)/2);
}

.parent .screen .input-screen {
    background-color: var(--mainColor);
    height: 80px;
    color: white;
    padding: 2.5px;
    padding-top: 15px;
    width: var(--basicWidth);
    border: var(--scandaryColor) solid 3px;
    display: flex;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
}

.input-screen::selection {
    background-color: var(--scandaryColor);
}

.parent .screen .output-screen {
    display: block;
    background-color: var(--mainColor);
    height: 35px;
    color: white;
    padding: 5px;
    font-size: 25px;
    width: var(--basicWidth);
}

.parent .numbers {
    width: var(--basicWidth);
    height: 100%;
    padding: 2.5px;
    background-color: var(--mainColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.parent .numbers option,
.parent button {
    width: 85px;
    height: 85px;
    display: flex;
    border-radius: 50%;
    background-color: var(--scandaryColor);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
    font-size: 30px;
}

.parent button {
    background-color: var(--textColor);
    border: none;
}

.parent .numbers option:hover,
.parent button:hover {
    opacity: .8;
}

.parent #minus,
#plus,
#divided,
#multiplied {
    color: var(--textColor);
    font-weight: bold;
}

.parent .numbers #delete {
    font-size: 16px;
    color: red;
}

.parent .numbers #equal {
    flex-grow: 1;
    border-radius: 5px;
    order: 55;
}

::selection {
    background-color: transparent;
}

.opacity {
    opacity: .7;
}